Custom Pipelines/NodeRed.json
[{"id":"d11cd724.5ae988","type":"tab","label":"Flow Pipeline","disabled":false,"info":""},{"id":"d07e89ae.f46c08","type":"http in","z":"d11cd724.5ae988","name":"geoenrich","url":"/geoenrich","method":"post","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["9a3b174c.9dce38"]]},{"id":"9a3b174c.9dce38","type":"function","z":"d11cd724.5ae988","name":"request backup","func":"msg.request=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["947e1823.d146b8"]]},{"id":"947e1823.d146b8","type":"http request","z":"d11cd724.5ae988","name":"geo gouv","method":"GET","ret":"obj","paytoqs":false,"url":"https://api-adresse.data.gouv.fr/reverse/?lat={{request.location.lat}}&lon={{request.location.lon}}","tls":"","proxy":"","authType":"","x":520,"y":100,"wires":[["a0d2d812.2dcdf8"]]},{"id":"a0d2d812.2dcdf8","type":"function","z":"d11cd724.5ae988","name":"merge and tags","func":"msg.request.value.geo=msg.payload.features[0].properties.label;\nmsg.payload={};\nmsg.payload.value=msg.request.value;\nmsg.payload.location=msg.request.location;\nmsg.payload.tags=[];\nmsg.payload.tags.push(\"enriched\", \"pipelined\");\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["fe450293.cddff"]]},{"id":"fe450293.cddff","type":"http response","z":"d11cd724.5ae988","name":"response","statusCode":"200","headers":{},"x":935,"y":100,"wires":[]}]